<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Products page</title>
</head>
<body>
        {% load static %}

    
        {% if queryset %}
            {% for i in queryset %}
            <div class= 'main' style='padding: 60px;'>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{ i.product_image1.url }}" alt="image" width='286px' height='180px'>
                    <h3>Type : {{i.product_type}}</h3>
                    <h4>Subtype : {{i.subtype}}</h4>
                    <h4>Quantity: {{i.quantity}}</h4>
                    <h4>Base price : {{i.base_price}}</h4>
                </div>
            </div>
            {% endfor %}
        
        {% else %}
            <h1>We don't have {{product}} now.</h1>
        {% endif %}
        
        
   
</body>
</html>