<!DOCTYPE html>
<html lang="en">
<head>
    <title>farmer signup</title>
</head>
<body>
    <h1>hy welcome to farmer login page</h1>
    {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
    {% endif %}
    <form action='' method='post' >
        {% csrf_token %}
        
        <label for='email'> Email </label>
        <input type='email' id='email' name='email' required> <br><br>

        <label for='password'> Password </label>
        <input type='password' id='password' name='password' required> <br><br>
    
        <input type='submit'>        
    </form>
</body>
</html>